@model IEnumerable<Babysitter1.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h2>Paid Jobs</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarlyHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EveningHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LateHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarlyHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EveningHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LateHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
